@media(max-width:1200px){
    .casino-bnr .welcome-img img {
        height: 540px;
    }
    .site-header .nav-links ul {
        gap: 20px;
    }
    .site-logo img {
        max-width: 220px;
    }
    .card-txt p, .enter-txt p, .explore-btn a {
        font-size: 15px;
    }
    .site-header .nav-links ul li a, .casino-btm-txt p, .news-letter-bx input {
        font-size: 14px;
    }
    .welcome-img img {
        height: 430px;
    }
    .wel-come-txt p{
        font-size: 15px;
    }
     .pr-wrap p, .pr-wrap ul li, .contact-wrap p {
        font-size: 16px;
    }
  
    .banner-txt {
        height: 250px;
        width: 300px;
    }
    .wel-come-txt h3 {
        font-size: 25px;
    }
   
    .footer-links ul {
        gap: 12px;
    }
    .card-txt-hold {
        padding: 10px;
    }
    .enter-txt h4,  .news-letter-bx  button  {
        font-size: 22px;
    }
    .enter-txt p {
        min-height: 540px;
    }
    .sub-heading h2,  .banner-heading h2 {
        font-size: 30px;
    }
    .pr-wrap h2,  .newsletter h4 {
        font-size: 22px;
    }
    .pr-wrap h3 {
        font-size: 20px;
    }
    .pr-wrap p, .pr-wrap ul li {
        margin-bottom: 10px;
    }
    .contact-wrap h3, .card-txt h4  {
        font-size: 18px;
    }
    .newsletter {
        width: 70%;
    }
    .enter-txt h4 {
        min-height: 60px;
    }
    .banner-content h2 {
        font-size: 35px;
    }
}

@media(max-width:991px){
    .welcome-img img {
        height: 400px;
        margin-bottom: 10px;
    }
    .sub-heading h2 {
        font-size: 20px;
    }
    .sub-heading p {
        font-size: 13px;
    }
    .enter-txt p {
        min-height: 315px;
    }
    .casino-card .card-img {
        height: 400px;
    }
    .site-header .nav-links ul {
        flex-direction: column;
        align-items: center;
    }
    .nav-links {
        position: fixed;
        top: 0;
        left: 0;
        width: 400px;
        background: #fff;
        z-index: 9;
        height: 100vh;
        padding: 50px;
        transform: translateY(-100%);
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
    .menuToggle .nav-links{
        transform: translateY(0%);
       
}
    .close, .toggle {
        display: block;
    }
    .close {
        font-size: 20px;
        position: absolute;
        top: 15px;
        right: 20px;
    }
    .toggle {
        font-size: 25px;
    }
    .banner-wrap {
        height: 70vh;
    }
    .banner-txt {
        height: 200px;
        width: 250px;
    }
    .wel-come-txt h3 {
        font-size: 22px;
        margin-bottom: 20px;
    }
    .wel-come-txt p {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .footer-wrap {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .footer-left {
        width: 100%;
        margin: 0 auto;
    }
    .footer-right {
        width: 80%;
    }
    .footer-logo {
        text-align: center;
        margin-bottom: 20px;

    }
    .footer-links ul {
        justify-content: center;
        flex-wrap: wrap;
    }
    .copy-right p {
        text-align: center;
    }
    .pr-wrap h2 {
        font-size: 20px;
        margin-bottom: 5px;
    }
    .pr-wrap h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .pr-wrap p, .pr-wrap ul li {
        font-size: 13px;
        margin-bottom: 8px;
    }
    .enter-txt h4 {
        min-height: 60px;
    }
    .banner-content {
        width: 85%;
    }
    .banner-content h2 {
        font-size: 32px;
    }
    .casino-bnr .welcome-img img {
        height: 400px;
        margin-bottom: 20px;
    }
    .casino-bnr .welcome-img::after {
        left: 0;
        height: 0;
        width: 0;
    }
    .casino-bnr {
        padding-left: 0;
    }
    .casino-bnr.restaurants-wel .welcome-img img {
        height: 400px;
    }
}
@media(max-width:820px){
    .welcome-img img {
        height: 350px;
    }
    .enter-txt p {
        min-height: 460px;
    }
 
    .card-txt {
        top: 0;
        left: 0px;
}
#cookies-popup p, #cookies-popup button {
    font-size: 14px;
}
.newsletter {
    width: 85%;
}

}
@media(max-width:767px){
    .enter-txt h4 {
        min-height: auto;
    }
    .enter-txt p {
        min-height: auto;
    }
    .casino-bnr .welcome-img img {
        height: 400px;
    }
    .casino-bnr .welcome-img::after {
        left: 0;
        width: 0px;
    }
    .casino-bnr {
        padding-left: 0px;
    }
    .banner-wrap {
        height: 400px;
    }
    .banner-txt {
        height: 150px;
        width: 200px;
    }
    .banner-left, .banner-right {
        width: 49%;
    }
    .welcome-img img {
        height: 300px;
    }
    .welcome-img {
        margin-bottom: 25px;
    }
    .footer-logo img {
        width: 250px;
    }
    .footer-links ul li {
        line-height: 1;
    }
    .contact-wrap h3 {
        font-size: 16px;
    }
    .contact-wrap  a, .contact-wrap p {
        font-size: 12px;
    }
    .contact-wrap ul li a {
        font-size: 20px;
    }
    .newsletter h4 {
        font-size: 18px;
        margin-bottom: 15px;
    }
    .news-letter-bx input {
        width: 100%;
        height: 45px;
        padding: 10px;
        margin-bottom: 15px;
    }
    .newsletter {
        width: 95%;
    }
    .news-letter-bx  button {
        width: 50%;
        height: 45px;
        font-size: 14px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .banner-content h2 {
        font-size: 30px;
    }
}
@media(max-width:575px){
    .casino-bnr.restaurants-wel .welcome-img img {
        height: 300px;
    }
    .banner-content {
        width: 98%;
    }
    .banner-content h2 {
        font-size: 25px;
    }
    .casino-bnr .welcome-img img {
        height: 300px;
    }
    .site-logo img {
        max-width: 160px;
    }
    .toggle {
        font-size: 20px;
    }
    .nav-links {
        width: 100%;
        padding: 40px;
    }
    .site-header .nav-links ul li a {
        font-size: 12px;
    }
    .site-header .nav-links ul {
        gap: 15px;
    }
    .banner-wrap {
        height: 55vh;
    }
    .banner-txt {
        height: 100px;
        width: 130px;
    }
    .welcome-img img {
        height: 200px;
    }
    .wel-come-txt h3 {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .wel-come-txt p {
        font-size: 14px;
    }
    .footer-links ul li a {
        font-size: 12px;
    }
    .copy-right p {
        font-size: 11px;
    }
    .enter-txt h4, .news-letter-bx  button {
        font-size: 20px;
    }
    .card-txt p, .enter-txt p, .explore-btn a {
        font-size: 14px;
    }
    .footer-logo img {
        width: 220px;
    }
    .footer-right {
        width: 100%;
    }
    .card-txt-hold {
        padding: 3px;
    }
    .card-txt h4 {
        font-size: 16px;
        margin-bottom: 5px;
    }
    .ptb-50 {
        padding: 30px 0;
    }
    .sub-heading h2 {
        font-size: 18px;
        margin-bottom: 15px;
    }
    .sub-heading p {
        font-size: 12px;
    }
    .sub-heading {
        width: 90%;
        margin-bottom: 30px;
    }
    .pravicy-banner {
        padding: 70px 0;
    }
    .banner-heading h2 {
        font-size: 22px;
    }
    .pr-wrap h2 {
        font-size: 18px;
        margin-bottom: 5px;
    }
    .pr-wrap h3 {
        font-size: 16px;
    }
    .pr-wrap p, .pr-wrap ul li {
        font-size: 12px;
        margin-bottom: 5px;
    }
    .banner-wrap {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}