@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
:root{
    --light-blue:#3486a1;
    --black:#000;
    --bg:#f7f7f7;
    --white:#fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s linear;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
ul{
    list-style:none;
    padding-left:0;
    margin-bottom:0
}
a{
    text-decoration:none
}
img{
    max-width: 100%;
}
/* h1,h2,h3,h4,h5,h6{
    
} */

.container{
    max-width:1300px
}
.ptb-70{
    padding:70px 0
}
.ptb-50{
    padding:50px 0
}
.ptb-30{
    padding:30px 0
}

/* header css start here */
.site-header {
    padding: 10px 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.site-logo img {
    max-width: 250px;
}
.close, .toggle{
    display: none;
}
.site-header .nav-links ul{
    display: flex;
    gap: 30px;
    align-items: center;
}
.site-header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header .nav-links ul li a{
    text-transform: uppercase;
    color: #000;
    font-weight: 400;
    /* letter-spacing: 0.1em; */
    font-family: "Crimson Text", serif;
}
.site-header .nav-links ul li a.active, .site-header .nav-links ul li a:hover{
    color: #3486a1;
}
/* header css end here */
/* banner css start here */
.banner-left, .banner-right{
    width: 48%;
    height: 100%;
}
.banner-left img, .banner-right img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.banner-wrap {
    background-image: url(../images/hero1.webp);
    height: 85vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.banner-wrap::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.5;
    
}
.banner-content {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
.banner-content h2{
    font-size: 40px;
    color: #fff;
    font-weight: 700;
}
.banner-txt {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 400px;
    /* background-color: #fff; */
    display: flex;
    justify-self: center;
    align-items: center;
    background-image: url(../images/hero3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banner-txt::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #020202;
    opacity: 0.2;
}


/* welcome section css start here */
.casino-bnr.restaurants-wel .welcome-img img {
    height: 400px;
}
.wel-come-txt h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
    color: var(--light-blue);
}
.wel-come-txt p{
    margin-bottom: 15px;
}
.welcome-img img {
    height: 450px;
    width: 100%;
    object-fit: cover;
}
.wel-come-txt p:last-child{
    margin-bottom: 0;
}
.welcome .row{
    align-items: center;
}
.welcome{
    background-image: url(../images/bg1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.explore-btn a:hover {
    background: transparent;
    color: #000;
    border-color: #000;
}



/* welcome section end here */

/* casino page css start here */
.casino-bnr {
    padding-left: 100px;
}
.casino-bnr .welcome-img{
position: relative;
}

.casino-bnr .welcome-img::after{
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    height: 100%;
    width: 2px;
    background-color: var(--light-blue);
}
.casino-bnr .welcome-img img {
    height: 530px;
    width: 100%;
    object-fit: cover;
}
.casino-card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px;
    position: relative;
}
.casino-card .card-img {
    border-radius: 8px;
    overflow: hidden;
    height: 450px;
}
.casino-card .card-img img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.card-txt {
    padding: 15px 10px;
}
.card-txt h4 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
    color: var(--white);
}
.card-txt p {
    margin-bottom: 10px;
    color: var(--bg);
}
.casino-card:hover .card-txt{
    transform: scale(1);
    
  
}
.card-txt {
    position: absolute;
    top: 15px;
    left: 15px;
    transform: scale(0);
    z-index: 9;
    height: 100%;
    width: 100%;
    display: flex;
    justify-self:center;
    align-items: center;
}
.casino-card::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: #000;
    opacity: 0.5;
    transition: all 0.3s linear;
    border-radius: 8px;
}
.casino-card:hover::before{
    height: 100%;
}
.casino-card {
    margin-bottom: 25px;
}

/* casino page css end here */

/* Entertainment page css start here */

.enter-wrap{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px;
    overflow: hidden;

}

.enter-txt {
    padding: 15px 10px;
}

.enter-txt p {
    min-height: 460px;
}
.enter-txt h4 {
    font-weight: 500;
    margin-bottom: 10px;
    min-height: 65px;
}
.enter-img{
    height: 270px;
    overflow: hidden;
}
.enter-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.enter-img:hover img{
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}

.explore-btn a {
    padding: 10px 30px;
    background-color: var(--light-blue);
    color: var(--white);
    border: 1px solid #3486a1;
    border-radius: 5px;
    display: block;
    width: fit-content;
    margin: 10px 0;
  
}
.entertainments-card {
    margin-bottom: 25px;
}
.sub-heading {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.sub-heading h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--light-blue);
}


/* Entertainment page css end here */
/* pravice page css start here */
.pravicy-banner{
    background-image: url(../images/privacy-policy-bnr.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.pravicy-banner::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: #fff;
    opacity: 0.9;
}

.terms-bnr{
    background-image: url(../images/terms-banner.jpg);
}
.banner-heading{
    position: relative;
}
.banner-heading h2 {
    font-size: 30px;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    color: #000;
}
.pr-wrap h2 {
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 8px;
}
.pr-wrap h3{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 15px;
}
.pr-wrap p, .pr-wrap ul li {
    margin-bottom: 10px;
}
.pr-wrap ul li{
    font-weight: 600;
}
.pr-wrap p a{
    font-weight: 700;
    color: #000;
}
.pr-wrap {
    margin-bottom: 30px;
}
.pr-wrap ul{
    list-style: disc;
    padding-left: 20px;
}

/* pravice page css end here */
 /* contact us page css start here */
.contact-wrap p {
    margin-bottom: 10px;
}
.contact-wrap  a{
    font-weight: 600;
    color: var(--light-blue);
}
.contact-wrap h3 {
    font-weight: 700;
    margin-bottom: 5px;
    color: var(--light-blue);
}
.contact-wrap {
    margin-bottom: 20px;
}
.contact-wrap ul {
    display: flex;
    gap: 10px;
    align-items: center;
}
.contact-wrap ul li a{
    font-size: 25px;
}
.newsletter h4 {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    color: var(--light-blue);
}


.news-letter-bx input {
    width: 75%;
    height: 50px;
    padding: 15px;
    border-radius: 50px;
    border: 2px solid #3486b5;
    font-weight: 500;
}
.news-letter-bx input::placeholder{
    color: #000;
}

.news-letter-bx  button {
    width: 24%;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #3486a1;
    background-color: #3486a1;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}
.news-letter-bx  button:hover{
    background-color: #000;
    border-color: #000;
    color: #fff;
}
.newsletter {
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
}
.newsletter p {
    text-align: center;
    margin-top: 15px;
}
.contact-banner{
    background-image: url(../images/contact-banner.jpg);
    position: relative;
}
.contact-banner .banner-heading h2{
color: #fff;
}
/* contact us page css end here */

/* footer section css start here */
section.site-footer{
    background-color: #c1c1c196;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.footer-logo img {
    width: 300px;
}
.footer-links ul {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: end;
}
.footer-links ul li a{
    font-size: 14px;
    color: var(--black);
    letter-spacing: 0.1em;
    font-weight: 600;
}
.footer-links ul li a:hover{
    color: #3486a1;
}
.footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-left{
    width: 25%;
}
.footer-right{
    width: 73%;
}
.copy-right p{
    font-size: 13px;
    letter-spacing: 0.1em;
    text-align: end;
    margin-bottom: 0;
    margin-top: 20px;
}
.copy-right p a{
    font-weight: 700;
    color: #000;
}
/* footer section css end here */
.enter-txt h4, .contact-wrap h3, .news-letter-bx  button{
    font-size: 25px;
}
.wel-come-txt p{
    font-size: 17px;
}
 .contact-wrap p, .contact-wrap  a, .news-letter-bx input, .newsletter p, .pr-wrap p, .pr-wrap ul li {
    font-size: 18px;
}
.site-header .nav-links ul li a, .card-txt p, .casino-btm-txt p, .enter-txt p, .explore-btn a, .sub-heading p{
    font-size: 16px;
}
.fix-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 999;
}